<%- include ('templates/header'); -%>

<div class='container'>
	<div class='jumbotron'>
		<h1> SEARCH MENU </h1>
		<nav class="navbar navbar-light" style="background-color: #fbd4ab;">
		  <form class="form-inline">
		  	 <a href='/authorName'><button style="margin:5px;" class="btn btn-lg btn-outline-primary" type="button">Name</button></a>
		    <a href='/c'><button style="margin:5px;" class="btn btn-lg btn-outline-primary" type="button">Category</button></a>
		    <a href='/k'><button  style="margin:5px;" class="btn btn-lg btn-outline-primary" type="button">Keyword</button></a>
		    <a href='/g'><button style="margin:5px;" class="btn btn-lg btn-outline-primary" type="button">Gender</button></a>
		  </form>
		</nav>
	</div>
</div>

<%- include ('templates/footer'); -%>